html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
  display: block;
}

nav ul, nav li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #767676;
}

input, select {
  vertical-align: middle;
}

* {
  border-spacing: border-box;
}

//////////// MIXINS /////////////

@mixin header-pseudoelement {
  position: relative;
  font-weight: 100;
  color: gray;
  opacity: 0;
};

@mixin button__svg {
  margin-left: 15px;
};

@mixin button__hover {
  background-color: gainsboro;
  cursor: pointer;
  transition: ease-in-out 0.2s;
};

@mixin button {
  margin: 40px 0;
  background-color: #FFFFFF;
  color: #000;
  width: 175.53px;
  height: 53.98px;
  white-space: nowrap;
  padding: 0 32px;
  border-radius: 27px;
  font-size: 0.8rem;
  border: transparent;
};


//////////////////// REUSABLE STYLES /////////


.button__default {
  @include button();
}

.button__svg {
  @include button__svg();
}

.button__default:hover {
  @include button__hover();
}

//////////// BODY AND GENERAL STYLING /////////////

body {
  background-color: #000;
  font-family: 'Space Grotesk';
  font-size: 16px;
}

.button__cookie__wrapper {
  position: fixed;
  bottom: 50px;
  right: 50px;
  max-width: 320px;
  height: 70px;
  flex: 2;
  gap: 20px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gainsboro;
  padding: 0 32px;
  border-radius: 32px;
  font-size: 0.8rem;
  border: transparent;
  margin: 0 0 0 20px;
}

.button__cookie__wrapper span {
  text-transform: uppercase;
  color: gray;
  font-size: 0.6rem;
}

.button__svg--cookie {
  margin-left: 5px;
  color: gray;
}

.button__cookie__left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button__cookie__check {
  background-color: gainsboro;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 32px;
}

.button__cookie__check:hover {
  background-color: #000;
  transition: ease-in-out 0.3s;
  cursor: pointer;

  .check {
    fill: white;
  }
}

//////////// HEADER STYLING  /////////////

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 10;
  transition: ease-in-out 0.5s;
}


.header__inner {
  max-width: 1600px;
  margin: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.header--mobile {
  display: none;
}

.header__icon__svg {
  width: 110px;
  height: 19.25px;
}

.header__nav__right {
  display: flex;
  flex: 2;
  gap: 45px;
}

.nav__link {
  text-transform: uppercase;
  color: white;
  font-size: 0.9rem;
  padding: 5px 25px;
  white-space: nowrap;
}

.nav__link--last {
  padding: 5px 0px 25px 0;
}

.nav__link:hover {
  cursor: pointer;
}

.nav__link::before {
  content: "[";
  right: 10px;
  @include header-pseudoelement;
}

.nav__link::after {
  content: "]";
  left: 10px;
  @include header-pseudoelement;
}

.nav__link:hover {
  &::after,
  &::before {
    opacity: 1;
  }
}


//////////// HAMBURGER  /////////////

.header--mobile {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.header__inner--mobile {
  height: 50px;
}


.header__right--mobile {
  height: 500px;
  width: 100dvw;
  display: flex;
  background-color: #000;
  align-items: center;
  position: relative;
  top: -500px; 
}

.nav__link--mobile {
  padding: 5px 25px 5px 0;
}


.header__right--mobile--open {
  top: 0;
  position: fixed;
}

.header__nav__right--mobile {
  flex-direction: column;
  padding: 0 17px;
}

.header__hamburger__button {
  height: 30px;
  width: 20px;
  opacity: 0;
}


.header__hamburger:hover {
  cursor: pointer;
}


.header__hamburger span {
  display: block;
  height: 2px;
  margin: 5px auto;
  width: 20px;
  border-radius: 9px;
  background-color: #FFFFFF; 
}


.hamLineOne--open {
  transform: rotate(45deg) translateX(5px) translateY(5px);
}

.hamLineTwo--open {
  opacity: 0;
}

.hamLineThree--open {
  transform: rotate(-45deg) translateX(5px) translateY(-5px);
}


//////////////// MAIN WRAPPER ////////////////////////////////////////////////////////


/////////// VIDEO PART //////////////////


.main__wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
}


.main__video__wrapper {
  display: flex;
  flex: 2;
}

.main__claim__wrapper {
  text-align: center;
  padding: 200px 0;
}


.claim__headline {
  font-size: 3.5rem;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 1.17;
}

/////////// ABOUT PART //////

.main__twopiece__wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.twopiece__left--first,
.twopiece__right--second {
  grid-column: 1;
  grid-row: 1;
}

.twopiece__right--first,
.twopiece__left--second {
  grid-column: 2;
  grid-row: 1;
}

.twopiece__left--second {
  place-self: end end;
}

.twopiece__left--first {
  place-self: start start;
}


.twopiece__image {
  width: 100%;
  max-width: 700px;
  height: auto;
}


.twopiece__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.twopiece__headline {
  color: #FFFFFF;
  font-size: 1.7rem;
  max-width: 450px;
  line-height: 1.5;
}

.main__twopiece__wrapper--second {
  flex-direction: row-reverse;
  margin: 200px 0 0 0;
}

/////////// RECENT PROJECTS PART //////

.secondary__twopiece__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 0 200px 0;
}

.secondary__twopiece {
  margin: 0;
}

.secondary__twopiece__pic {
  max-width: 750px;
  width: 100%;
}

.secondary__twopiece__texts {
  margin: 20px 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.secondary__twopiece__headline {
  color: white;
  font-size: 1.2rem;
}

.secondary__twopiece__subline {
  color: white;
  max-width: 370px;
}


/////////// LOGOS PART /////////////


.main__logos__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1;
  margin: 0 auto;
  max-width: 900px;
}


#logos__carusel__left,
#logos__carusel__middle,
#logos__carusel__right {
  display: flex;
  justify-content: center;
  flex: 2;
}

.logo__img {
  width: 100%;
  max-width: 250px;
  height: auto;
}


/////////// FOOTER /////////////

.main__footer__wrapper {
  margin: 0 auto;
  padding: 0 0 56px 0;
}

.inner__footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}


.footer__left {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  gap: 35px;
  flex-wrap: wrap;
}

.footer__right {
  grid-column: 2;
  grid-row: 1;
  place-self: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; 
}

.footer__column ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.button__default--footer {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid hsla(0,0%,100%,.25);
  text-transform: uppercase;
  margin-bottom: 0;
  align-self: center;
}

.button__default--footer:hover {
  opacity: 0.7;
  background-color: transparent;
}

.footer__icons__wrapper {
  height: 53,98px;
  display: flex;
  gap: 35px;
  align-self: flex-end;
  margin: 0 0 15px 0;
}

///////////// QUERRIES /////////////////////

@media only screen and (max-width: 1058px) {

  .main__twopiece__wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
  }


  .twopiece__left {
    grid-column: 1;
    grid-row: 1;
    place-self: center;
  }

  .twopiece__right {
    grid-column: 1;
    grid-row: 2;
    place-self: center;
  }

  .main__twopiece__wrapper--second,
  .main__claim__wrapper,
  .secondary__twopiece__wrapper {
    padding: 56px 0;
    margin: unset;
  }

  .claim__headline {
    font-size: calc(28px + 44*(100vw - 341px)/2180);
  }

  .twopiece__headline {
    font-size: calc(19px + 13*(100vw - 320px)/2180);
  }

  .secondary__twopiece__wrapper {
    flex-direction: column;
    gap: 86px;
  }

  .secondary__twopiece__pic {
    max-width: unset;
    max-height: unset;
  }
}

@media only screen and (max-width: 849px) {

  .header--mobile {
    display: flex;
  }

  .secondary__twopiece__texts {
    flex-direction: column;
    margin: 20px 0 0;
  }

  .main__footer__wrapper {
    margin: 0 auto;
  }

  .inner__footer__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 150px;
  }

  .footer__right {
    grid-column: 1;
    grid-row: 2;
    place-self: start;
  }

  .button__default--footer {
    border: unset;
  }

  .footer__icons__wrapper {
    padding: 0 0 0 35px;
  }
}

@media only screen and (max-width: 600px) {
  .main__wrapper {
    padding: 0 15px;
  }

  .secondary__twopiece__wrapper {
    padding: 0 0 56px 0;
  }

  .header__inner--mobile {
    margin: 0 20px;
  }
}