html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
  display: block;
}

nav ul, nav li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #767676;
}

input, select {
  vertical-align: middle;
}

* {
  border-spacing: border-box;
}

.button__default {
  margin: 40px 0;
  background-color: #FFFFFF;
  color: #000;
  width: 175.53px;
  height: 53.98px;
  white-space: nowrap;
  padding: 0 32px;
  border-radius: 27px;
  font-size: 0.8rem;
  border: transparent;
}

.button__svg {
  margin-left: 15px;
}

.button__default:hover {
  background-color: gainsboro;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

body {
  background-color: #000;
  font-family: "Space Grotesk";
  font-size: 16px;
}

.button__cookie__wrapper {
  width: 280px;
  height: 70px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gainsboro;
  white-space: nowrap;
  padding: 0 32px;
  border-radius: 32px;
  font-size: 0.8rem;
  border: transparent;
}

.button__cookie__wrapper span {
  text-transform: uppercase;
  color: gray;
  font-size: 0.6rem;
}

.button__svg--cookie {
  margin-left: 5px;
  color: gray;
}

.button__cookie__left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button__cookie__check {
  background-color: gainsboro;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 32px;
}

.button__cookie__check:hover {
  background-color: #000;
  transform: translate3d(1.1);
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 10;
}

.header__inner {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.header__icon__svg {
  width: 110px;
  height: 19.25px;
}

.header__nav__right {
  display: flex;
  flex: 1;
  gap: 45px;
}

.header__nav__link {
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  padding: 5px 15px;
}

.header__nav__link:hover {
  cursor: pointer;
}

.header__nav__link:hover:before {
  content: "[";
  position: relative;
  font-weight: 100;
  color: gray;
  right: 10px;
}

.header__nav__link:hover:after {
  content: "]";
  position: relative;
  font-weight: 100;
  color: gray;
  left: 10px;
}

.main__wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
}

.main__video__wrapper {
  padding: 234px 0px 0 0px;
  max-width: 1600px;
  margin: 0 auto;
}

.video__player {
  width: 100dvw;
  width: 100%;
}

.main__claim__wrapper {
  text-align: center;
  padding: 234px 0;
}

.claim__headline {
  font-size: 4.72rem;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 5.2rem;
}

.main__twopiece__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 200px;
}

.twopiece__image {
  max-width: 768px;
}

.twopiece__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.twopiece__headline {
  color: #FFFFFF;
  font-size: 1.4rem;
  max-width: 450px;
  line-height: 2rem;
}

.main__twopiece__wrapper--second {
  flex-direction: row-reverse;
  margin: 200px 0 0 0;
}

.claim__headline--explore {
  font-size: 3.67rem;
}/*# sourceMappingURL=style.css.map */